/*
A hyperbolic-canvas div with a percentage-based size must have a parent with non-zero size.
Margin is removed for simplicity.
*/
html, body {
  height: 100%;
  margin: 0;
  background-color: #2C001E;
}

/*
Each hyperbolic-canvas div must be of non-zero size.
A size with a 1:1 ratio is recommended.
In this case, it expands to fill the page.
*/
div#hyperbolic-canvas {
  height: 100%;
  width: 100%;
}

/*
A backdrop div is automatically appended into each hyperbolic-canvas div.
It is automatically scaled to fill its parent, and cropped to a 1:1 ratio.
It is not recommended to apply styling beyond background color.
*/
div#hyperbolic-canvas div.backdrop {
  background-color: #2C001E;
}

/*
An HTML canvas is automatically appended into each backdrop div.
It is automatically scaled to fit its parent.
It is not recommended to apply styling beyond background color.
*/
div#hyperbolic-canvas div.backdrop div.underlay {
  background-color: #D6D3CF;
}
