html, body {
  height: 100%;
  margin: 0;
  /*background-color: black;*/
}

div.holder {
  height: 90%;
  width: 90%;
  border: solid 2px black;
}

/*not required because styling is added in the HTML*/
/*div.hyperbolic-canvas {
  height: 100px;
  width: 100px;
}*/

div.hyperbolic-canvas div.viewport canvas {
  background-color: #000080;
}

div.hyperbolic-canvas .viewport {
  background-color: #43464B;
}
